In [61]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='darkgrid')
import statsmodels.api as sm

In [62]:
data=pd.read_csv('data/train-data.csv')
data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [63]:
data1=data.loc[:,['Name','Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power', 'New_Price', 'Price']]
data1

,Name,Year,Kilometers_Driven,Mileage,Engine,Power,New_Price,Price
0,Maruti Wagon R LXI CNG,2010,72000,26.6 km/kg,998 CC,58.16 bhp,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,2015,41000,19.67 kmpl,1582 CC,126.2 bhp,NaN,12.50
2,Honda Jazz V,2011,46000,18.2 kmpl,1199 CC,88.7 bhp,8.61 Lakh,4.50
3,Maruti Ertiga VDI,2012,87000,20.77 kmpl,1248 CC,88.76 bhp,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,2013,40670,15.2 kmpl,1968 CC,140.8 bhp,NaN,17.74
...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,2014,27365,28.4 kmpl,1248 CC,74 bhp,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,2015,100000,24.4 kmpl,1120 CC,71 bhp,NaN,4.00
6016,Mahindra Xylo D4 BSIV,2012,55000,14.0 kmpl,2498 CC,112 bhp,NaN,2.90
6017,Maruti Wagon R VXI,2013,46000,18.9 kmpl,998 CC,67.1 bhp,NaN,2.65
6018,Chevrolet Beat Diesel,2011,47000,25.44 kmpl,936 CC,57.6 bhp,NaN,2.50

In [64]:
data1.New_Price=data1.New_Price.fillna('0')
data1

,Name,Year,Kilometers_Driven,Mileage,Engine,Power,New_Price,Price
0,Maruti Wagon R LXI CNG,2010,72000,26.6 km/kg,998 CC,58.16 bhp,0,1.75
1,Hyundai Creta 1.6 CRDi SX Option,2015,41000,19.67 kmpl,1582 CC,126.2 bhp,0,12.50
2,Honda Jazz V,2011,46000,18.2 kmpl,1199 CC,88.7 bhp,8.61 Lakh,4.50
3,Maruti Ertiga VDI,2012,87000,20.77 kmpl,1248 CC,88.76 bhp,0,6.00
4,Audi A4 New 2.0 TDI Multitronic,2013,40670,15.2 kmpl,1968 CC,140.8 bhp,0,17.74
...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,2014,27365,28.4 kmpl,1248 CC,74 bhp,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,2015,100000,24.4 kmpl,1120 CC,71 bhp,0,4.00
6016,Mahindra Xylo D4 BSIV,2012,55000,14.0 kmpl,2498 CC,112 bhp,0,2.90
6017,Maruti Wagon R VXI,2013,46000,18.9 kmpl,998 CC,67.1 bhp,0,2.65
6018,Chevrolet Beat Diesel,2011,47000,25.44 kmpl,936 CC,57.6 bhp,0,2.50

In [65]:
new_price=list(data1.New_Price)
print(new_price)
price=list(data1.Price)
print(price)

['0', '0', '8.61 Lakh', '0', '0', '0', '0', '21 Lakh', '0', '0', '10.65 Lakh', '0', '0', '0', '0', '32.01 Lakh', '0', '0', '0', '0', '47.87 Lakh', '0', '0', '0', '0', '0', '0', '0', '10.57 Lakh', '0', '0', '0', '0', '0', '12.33 Lakh', '0', '11.12 Lakh', '0', '0', '0', '0', '0', '0', '0', '23.64 Lakh', '0', '0', '18.64 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '19.34 Lakh', '0', '0', '0', '0', '0', '0', '49.14 Lakh', '0', '11.81 Lakh', '0', '0', '0', '16.65 Lakh', '0', '0', '0', '0', '0', '0', '0', '6.67 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '6.45 Lakh', '0', '0', '0', '6.41 Lakh', '0', '0', '0', '27 Lakh', '5.13 Lakh', '0', '54.43 Lakh', '0', '0', '0', '9.51 Lakh', '0', '9.96 Lakh', '0', '0', '14.44 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '4.53 Lakh', '95.04 Lakh', '13.49 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1.28 Cr', '60.88 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '7.39 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '69.47 Lakh', '0', '0', '0', '0', '8.78 Lakh', '0', '0', '0', '0', '0', '12.74 Lakh', '0', '0', '0', '0', '0', '0', '10.52 Lakh', '11.98 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '8.54 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '33.58 Lakh', '0', '0', '0', '9.12 Lakh', '0', '5.29 Lakh', '0', '0', '44.28 Lakh', '0', '0', '0', '0', '0', '0', '20.74 Lakh', '0', '11.74 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '25.52 Lakh', '0', '0', '0', '0', '14.07 Lakh', '0', '0', '95.13 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '8.34 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '8.34 Lakh', '0', '0', '8.85 Lakh', '0', '0', '0', '0', '25.4 Lakh', '0', '0', '0', '0', '16.67 Lakh', '0', '0', '0', '0', '0', '0', '79.43 Lakh', '0', '0', '0', '6.62 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1.04 Cr', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '9.12 Lakh', '0', '0', '0', '0', '58.67 Lakh', '0', '0', '28.37 Lakh', '4.48 Lakh', '0', '0', '72.64 Lakh', '0', '36.15 Lakh', '0', '0', '0', '0', '0', '0', '0', '44.59 Lakh', '0', '0', '0', '0', '0', '0', '12 Lakh', '0', '0', '0', '0', '0', '0', '0', '14.65 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '53.72 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '33.91 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '60.88 Lakh', '12.51 Lakh', '0', '0', '9.74 Lakh', '95.38 Lakh', '0', '0', '0', '0', '60.59 Lakh', '0', '0', '0', '44.28 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '11.28 Lakh', '0', '0', '0', '11.48 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '11.26 Lakh', '43.65 Lakh', '62.07 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '86.97 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1 Cr', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '4.74 Lakh', '14.84 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '49.49 Lakh', '0', '0', '0', '0', '48.18 Lakh', '0', '0', '0', '0', '0', '12.34 Lakh', '0', '0', '15.38 Lakh', '0', '0', '0', '19.21 Lakh', '0', '0', '0', '0', '0', '22.95 Lakh', '0', '0', '0', '0', '11.15 Lakh', '0', '0', '0', '0', '10.32 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '28.05 Lakh', '0', '0', '0', '59.77 Lakh', '15.86 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '19.43 Lakh', '0', '0', '10.65 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '42.12 Lakh', '0', '0', '16.95 Lakh', '15.45 Lakh', '0', '0', '7.87 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '4.7 Lakh', '0', '0', '15.02 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '12.56 Lakh', '0', '0', '11.33 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '26.45 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '10.34 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '7.46 Lakh', '11.85 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '10.41 Lakh', '5.57 Lakh', '0', '0', '0', '42.48 Lakh', '0', '0', '0', '16.04 Lakh', '0', '0', '0', '0', '0', '9.1 Lakh', '0', '0', '0', '0', '0', '7.65 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '13.74 Lakh', '0', '0', '0', '0', '0', '0', '5.72 Lakh', '0', '0', '0', '0', '21.33 Lakh', '0', '0', '0', '0', '0', '78.76 Lakh', '0', '0', '0', '0', '0', '0', '10.34 Lakh', '0', '0', '0', '4.29 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '10.04 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '11.67 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '25.52 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '8.56 Lakh', '0', '0', '0', '0', '0', '27 Lakh', '0', '0', '4.78 Lakh', '0', '6.14 Lakh', '0', '0', '0', '7.3 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '4.37 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '4.98 Lakh', '0', '0', '0', '0', '0', '0', '15.29 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '24.26 Lakh', '75.12 Lakh', '9.53 Lakh', '0', '0', '0', '34.6 Lakh', '0', '0', '0', '0', '0', '26.45 Lakh', '0', '11.15 Lakh', '0', '0', '0', '0', '0', '0', '0', '52.26 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '70.43 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '4.8 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '12.12 Lakh', '0', '19.37 Lakh', '0', '0', '0', '0', '12.14 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '36.69 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '23.68 Lakh', '0', '0', '0', '0', '55.61 Lakh', '0', '0', '0', '0', '0', '14.1 Lakh', '0', '0', '0', '0', '0', '13.26 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '28.05 Lakh', '0', '0', '0', '0', '0', '0', '11.27 Lakh', '0', '0', '0', '0', '11.2 Lakh', '0', '0', '8.56 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '9.46 Lakh', '0', '12.79 Lakh', '15.57 Lakh', '0', '0', '0', '0', '0', '19.86 Lakh', '0', '0', '0', '0', '0', '0', '6.59 Lakh', '0', '0', '86.97 Lakh', '0', '0', '0', '42.12 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '6.54 Lakh', '26.56 Lakh', '15.05 Lakh', '0', '0', '0', '0', '11.01 Lakh', '11 Lakh', '0', '7.55 Lakh', '0', '0', '0', '0', '0', '0', '0', '7.82 Lakh', '0', '6.32 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '15.14 Lakh', '15.72 Lakh', '0', '0', '0', '45.67 Lakh', '0', '0', '54.7 Lakh', '0', '22.87 Lakh', '6.74 Lakh', '0', '33.09 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '23.25 Lakh', '0', '0', '0', '19.27 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '52.77 Lakh', '11.67 Lakh', '0', '0', '0', '7.92 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '7.85 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '15.55 Lakh', '0', '32.45 Lakh', '0', '4.83 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '7.13 Lakh', '0', '71.82 Lakh', '0', '50.97 Lakh', '0', '0', '0', '0', '0', '0', '0', '10.73 Lakh', '0', '0', '0', '9.5 Lakh', '0', '0', '52.46 Lakh', '0', '0', '0', '6.07 Lakh', '0', '0', '0', '0', '0', '0', '0', '5.54 Lakh', '0', '0', '0', '1.04 Cr', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '4.33 Lakh', '8.63 Lakh', '0', '0', '0', '0', '6.68 Lakh', '14.07 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '15.05 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '7.98 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '24.82 Lakh', '0', '0', '0', '0', '7.63 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '22.86 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '11.06 Lakh', '0', '0', '0', '0', '0', '4.53 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '19.39 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '21.77 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '18.35 Lakh', '0', '0', '0', '9.19 Lakh', '8.09 Lakh', '0', '23.25 Lakh', '0', '0', '0', '0', '0', '0', '0', '1.39 Cr', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '11.52 Lakh', '0', '0', '0', '0', '0', '13.23 Lakh', '0', '0', '0', '10.06 Lakh', '0', '15.34 Lakh', '24.01 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '11.39 Lakh', '0', '9.79 Lakh', '35 Lakh', '0', '9.26 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '8.68 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '66.39 Lakh', '0', '0', '0', '0', '0', '36.45 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '91.38 Lakh', '0', '0', '0', '0', '0', '11.15 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '50.97 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '53.41 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '4.59 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '6.54 Lakh', '0', '0', '4.7 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '67.87 Lakh', '95.13 Lakh', '0', '6.62 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '9.44 Lakh', '0', '0', '0', '48.64 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '11.69 Lakh', '0', '0', '0', '0', '0', '0', '0', '11.11 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '4.74 Lakh', '0', '0', '0', '4.98 Lakh', '0', '0', '0', '0', '0', '0', '4.98 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '10.57 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '6.33 Lakh', '8.1 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '6.4 Lakh', '11.26 Lakh', '0', '0', '7.59 Lakh', '7 Lakh', '0', '0', '0', '0', '11.26 Lakh', '0', '7.43 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '22.43 Lakh', '24.02 Lakh', '0', '21.69 Lakh', '0', '0', '0', '95.13 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '34.63 Lakh', '6.32 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '43.31 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '4.71 Lakh', '0', '0', '0', '0', '20.74 Lakh', '0', '0', '0', '0', '0', '0', '0', '1.02 Cr', '6.71 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '8.68 Lakh', '0', '0', '0', '0', '0', '34.45 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '8.58 Lakh', '0', '0', '12.67 Lakh', '0', '0', '48.18 Lakh', '0', '0', '0', '0', '0', '11.89 Lakh', '0', '10.48 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '13.59 Lakh', '0', '0', '0', '0', '0', '11.02 Lakh', '0', '41.94 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '8.94 Lakh', '21.38 Lakh', '0', '0', '19.27 Lakh', '12.88 Lakh', '0', '0', '8.27 Lakh', '0', '0', '0', '0', '48.18 Lakh', '0', '0', '0', '0', '22.87 Lakh', '0', '0', '0', '0', '7.37 Lakh', '7.33 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '4.98 Lakh', '0', '0', '0', '0', '23.06 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '10.32 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '7.87 Lakh', '0', '1.4 Cr', '0', '0', '5.58 Lakh', '0', '22.46 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '42.48 Lakh', '0', '7.69 Lakh', '0', '0', '0', '9.4 Lakh', '0', '0', '0', '0', '0', '0', '8.1 Lakh', '0', '11.85 Lakh', '0', '6.08 Lakh', '0', '0', '0', '8.36 Lakh', '1.06 Cr', '0', '71.15 Lakh', '6.82 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '78.76 Lakh', '0', '0', '0', '0', '0', '0', '0', '8.12 Lakh', '9.78 Lakh', '0', '0', '0', '0', '0', '0', '7.36 Lakh', '0', '0', '0', '0', '0', '0', '38.11 Lakh', '0', '0', '0', '11.75 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '8.44 Lakh', '0', '0', '0', '0', '0', '16.06 Lakh', '0', '0', '15.29 Lakh', '0', '0', '0', '0', '0', '6.63 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1.27 Cr', '0', '0', '0', '39.6 Lakh', '0', '0', '10.91 Lakh', '0', '25.75 Lakh', '0', '0', '0', '0', '0', '0', '0', '5.29 Lakh', '0', '0', '0', '0', '5.61 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '8.05 Lakh', '0', '0', '0', '8.82 Lakh', '0', '0', '0', '0', '17.38 Lakh', '0', '5.69 Lakh', '0', '26.56 Lakh', '0', '0', '0', '0', '0', '5.61 Lakh', '0', '0', '37.51 Lakh', '0', '0', '5.88 Lakh', '0', '0', '0', '0', '0', '16.95 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '63.71 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '11.47 Lakh', '0', '37.46 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '7.88 Lakh', '0', '11.37 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '21.77 Lakh', '0', '0', '0', '11.3 Lakh', '0', '0', '0', '0', '0', '92.5 Lakh', '0', '0', '0', '0', '0', '0', '23.64 Lakh', '0', '0', '0', '0', '0', '0', '15.06 Lakh', '34.45 Lakh', '0', '0', '0', '0', '0', '0', '41.94 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '44.28 Lakh', '0', '0', '0', '0', '0', '39.57 Lakh', '5.54 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '13.7 Lakh', '0', '0', '0', '0', '0', '0', '11.16 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '9.47 Lakh', '0', '0', '10.17 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '11.47 Lakh', '0', '0', '8.17 Lakh', '9.58 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '47.87 Lakh', '0', '0', '0', '0', '11.67 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '9.14 Lakh', '0', '0', '0', '0', '9.96 Lakh', '0', '63.71 Lakh', '64.14 Lakh', '4.7 Lakh', '7.85 Lakh', '0', '0', '0', '0', '0', '16.36 Lakh', '37.38 Lakh', '0', '0', '0', '11.89 Lakh', '0', '0', '0', '0', '6.62 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '11.75 Lakh', '0', '0', '22.74 Lakh', '0', '0', '0', '0', '0', '0', '33.36 Lakh', '15.86 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '70.55 Lakh', '54.43 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1.13 Cr', '0', '0', '0', '0', '45.36 Lakh', '10.13 Lakh', '0', '14.22 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '11.77 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '4.05 Lakh', '0', '0', '0', '0', '26.95 Lakh', '0', '0', '0', '0', '0', '28.05 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '6.14 Lakh', '0', '0', '4.82 Lakh', '0', '0', '7.17 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '44.28 Lakh', '0', '0', '15.72 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '11.27 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '13.58 Lakh', '9.09 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '4.09 Lakh', '0', '6.83 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '5.04 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '43.81 Lakh', '0', '5.12 Lakh', '0', '0', '0', '0', '48.64 Lakh', '5.71 Lakh', '5.87 Lakh', '12.56 Lakh', '0', '0', '0', '0', '0', '0', '8.16 Lakh', '0', '44.28 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '9.72 Lakh', '0', '0', '0', '0', '0', '10.3 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '63.71 Lakh', '0', '0', '11.12 Lakh', '4.69 Lakh', '0', '0', '5.04 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '24.01 Lakh', '0', '0', '0', '95.13 Lakh', '0', '0', '8.78 Lakh', '0', '0', '0', '11.26 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '6.68 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '5.42 Lakh', '0', '0', '0', '0', '0', '0', '91.23 Lakh', '0', '0', '0', '7.14 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '69.59 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '4.61 Lakh', '0', '11.26 Lakh', '0', '37.38 Lakh', '0', '0', '0', '5.3 Lakh', '7.97 Lakh', '0', '0', '0', '0', '0', '43.31 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '59.38 Lakh', '0', '15.86 Lakh', '67.1 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '14.1 Lakh', '0', '0', '0', '12.22 Lakh', '0', '0', '0', '0', '0', '33.68 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '19.27 Lakh', '6.96 Lakh', '26.95 Lakh', '7.96 Lakh', '0', '0', '23.06 Lakh', '0', '9.58 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '20.8 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '6.78 Lakh', '0', '19.91 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '8.93 Lakh', '0', '0', '0', '0', '0', '0', '7.97 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '5.04 Lakh', '11.66 Lakh', '0', '0', '0', '7.35 Lakh', '0', '0', '0', '0', '0', '0', '0', '6.99 Lakh', '0', '0', '0', '23.89 Lakh', '0', '0', '0', '0', '0', '7.27 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '7.88 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '8.84 Lakh', '0', '0', '0', '0', '0', '0', '52.46 Lakh', '0', '0', '0', '0', '0', '0', '0', '11.67 Lakh', '0', '0', '0', '0', '0', '0', '0', '22.37 Lakh', '0', '0', '12.02 Lakh', '0', '3.95 Lakh', '0', '0', '0', '0', '0', '0', '48.79 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '4.66 Lakh', '0', '0', '0', '0', '0', '0', '0', '11.29 Lakh', '0', '5.35 Lakh', '0', '0', '1.36 Cr', '0', '0', '0', '0', '0', '0', '0', '0', '0', '6.23 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '7.98 Lakh', '0', '47.16 Lakh', '0', '0', '41.98 Lakh', '0', '35.29 Lakh', '0', '0', '0', '0', '7.63 Lakh', '0', '0', '0', '0', '7.91 Lakh', '0', '0', '0', '0', '0', '0', '5.36 Lakh', '5.51 Lakh', '0', '0', '0', '0', '8.1 Lakh', '0', '0', '0', '20.97 Lakh', '0', '0', '0', '34.89 Lakh', '0', '0', '0', '16.4 Lakh', '1.66 Cr', '0', '0', '0', '15.29 Lakh', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '14.67 Lakh', '0', '12.57 Lakh', '0', '0', '0', '0', '0', '0', '9.48 Lakh', '0', '0', 

In [66]:
for i in range(len(new_price)):
    if new_price[i]!='0':
        price[i]=float(str(new_price[i]).split()[0])

data1.Price=price
data1

,Name,Year,Kilometers_Driven,Mileage,Engine,Power,New_Price,Price
0,Maruti Wagon R LXI CNG,2010,72000,26.6 km/kg,998 CC,58.16 bhp,0,1.75
1,Hyundai Creta 1.6 CRDi SX Option,2015,41000,19.67 kmpl,1582 CC,126.2 bhp,0,12.50
2,Honda Jazz V,2011,46000,18.2 kmpl,1199 CC,88.7 bhp,8.61 Lakh,8.61
3,Maruti Ertiga VDI,2012,87000,20.77 kmpl,1248 CC,88.76 bhp,0,6.00
4,Audi A4 New 2.0 TDI Multitronic,2013,40670,15.2 kmpl,1968 CC,140.8 bhp,0,17.74
...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,2014,27365,28.4 kmpl,1248 CC,74 bhp,7.88 Lakh,7.88
6015,Hyundai Xcent 1.1 CRDi S,2015,100000,24.4 kmpl,1120 CC,71 bhp,0,4.00
6016,Mahindra Xylo D4 BSIV,2012,55000,14.0 kmpl,2498 CC,112 bhp,0,2.90
6017,Maruti Wagon R VXI,2013,46000,18.9 kmpl,998 CC,67.1 bhp,0,2.65
6018,Chevrolet Beat Diesel,2011,47000,25.44 kmpl,936 CC,57.6 bhp,0,2.50

In [67]:
data1.isna().sum()

Name                  0
Year                  0
Kilometers_Driven     0
Mileage               2
Engine               36
Power                36
New_Price             0
Price                 0
dtype: int64

In [68]:
data1=data1.dropna()
data1.isna().sum()

Name                 0
Year                 0
Kilometers_Driven    0
Mileage              0
Engine               0
Power                0
New_Price            0
Price                0
dtype: int64

In [69]:
data1

,Name,Year,Kilometers_Driven,Mileage,Engine,Power,New_Price,Price
0,Maruti Wagon R LXI CNG,2010,72000,26.6 km/kg,998 CC,58.16 bhp,0,1.75
1,Hyundai Creta 1.6 CRDi SX Option,2015,41000,19.67 kmpl,1582 CC,126.2 bhp,0,12.50
2,Honda Jazz V,2011,46000,18.2 kmpl,1199 CC,88.7 bhp,8.61 Lakh,8.61
3,Maruti Ertiga VDI,2012,87000,20.77 kmpl,1248 CC,88.76 bhp,0,6.00
4,Audi A4 New 2.0 TDI Multitronic,2013,40670,15.2 kmpl,1968 CC,140.8 bhp,0,17.74
...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,2014,27365,28.4 kmpl,1248 CC,74 bhp,7.88 Lakh,7.88
6015,Hyundai Xcent 1.1 CRDi S,2015,100000,24.4 kmpl,1120 CC,71 bhp,0,4.00
6016,Mahindra Xylo D4 BSIV,2012,55000,14.0 kmpl,2498 CC,112 bhp,0,2.90
6017,Maruti Wagon R VXI,2013,46000,18.9 kmpl,998 CC,67.1 bhp,0,2.65
6018,Chevrolet Beat Diesel,2011,47000,25.44 kmpl,936 CC,57.6 bhp,0,2.50

In [70]:
names=list(data1.Name)
mileage=list(data1.Mileage)
engine=list(data1.Engine)

for i in range(len(names)):
    names[i]=names[i].split()[0]
    mileage[i]=float(mileage[i].split()[0])
    engine[i]=float(engine[i].split()[0])
data1.Name=names
data1.Mileage=mileage
data1.Engine=engine

data1

C:\Users\admin\AppData\Local\Temp\ipykernel_18172\2968422249.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.Name=names
C:\Users\admin\AppData\Local\Temp\ipykernel_18172\2968422249.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.Mileage=mileage
C:\Users\admin\AppData\Local\Temp\ipykernel_18172\2968422249.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.Engine=engine

,Name,Year,Kilometers_Driven,Mileage,Engine,Power,New_Price,Price
0,Maruti,2010,72000,26.60,998.0,58.16 bhp,0,1.75
1,Hyundai,2015,41000,19.67,1582.0,126.2 bhp,0,12.50
2,Honda,2011,46000,18.20,1199.0,88.7 bhp,8.61 Lakh,8.61
3,Maruti,2012,87000,20.77,1248.0,88.76 bhp,0,6.00
4,Audi,2013,40670,15.20,1968.0,140.8 bhp,0,17.74
...,...,...,...,...,...,...,...,...
6014,Maruti,2014,27365,28.40,1248.0,74 bhp,7.88 Lakh,7.88
6015,Hyundai,2015,100000,24.40,1120.0,71 bhp,0,4.00
6016,Mahindra,2012,55000,14.00,2498.0,112 bhp,0,2.90
6017,Maruti,2013,46000,18.90,998.0,67.1 bhp,0,2.65
6018,Chevrolet,2011,47000,25.44,936.0,57.6 bhp,0,2.50

In [71]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5981 entries, 0 to 6018
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               5981 non-null   object
 1   Year               5981 non-null   int64
 2   Kilometers_Driven  5981 non-null   int64
 3   Mileage            5981 non-null   float64
 4   Engine             5981 non-null   float64
 5   Power              5981 non-null   object
 6   New_Price          5981 non-null   object
 7   Price              5981 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 420.5+ KB

In [72]:
data1=data1.drop(columns='New_Price')
data1

           Name  Year  Kilometers_Driven  Mileage  Engine      Power  Price
0        Maruti  2010              72000    26.60   998.0  58.16 bhp   1.75
1       Hyundai  2015              41000    19.67  1582.0  126.2 bhp  12.50
2         Honda  2011              46000    18.20  1199.0   88.7 bhp   8.61
3        Maruti  2012              87000    20.77  1248.0  88.76 bhp   6.00
4          Audi  2013              40670    15.20  1968.0  140.8 bhp  17.74
...         ...   ...                ...      ...     ...        ...    ...
6014     Maruti  2014              27365    28.40  1248.0     74 bhp   7.88
6015    Hyundai  2015             100000    24.40  1120.0     71 bhp   4.00
6016   Mahindra  2012              55000    14.00  2498.0    112 bhp   2.90
6017     Maruti  2013              46000    18.90   998.0   67.1 bhp   2.65
6018  Chevrolet  2011              47000    25.44   936.0   57.6 bhp   2.50

[5981 rows x 7 columns]

1. 자동차 제조사별 count 구하라
2. 자동차 제조사별 요약을 구하라
3. 자동차 제조사별 중고차가격의 합, 평균을 구하라.
4. 중고차 가격을 종속변수, 년도, 운행거리, 마일리지, 엔진을 종속변수로 하여 회귀분석을 하라
5. 초기 10개의 데이터로 예측을 하라.

In [73]:
data1

           Name  Year  Kilometers_Driven  Mileage  Engine      Power  Price
0        Maruti  2010              72000    26.60   998.0  58.16 bhp   1.75
1       Hyundai  2015              41000    19.67  1582.0  126.2 bhp  12.50
2         Honda  2011              46000    18.20  1199.0   88.7 bhp   8.61
3        Maruti  2012              87000    20.77  1248.0  88.76 bhp   6.00
4          Audi  2013              40670    15.20  1968.0  140.8 bhp  17.74
...         ...   ...                ...      ...     ...        ...    ...
6014     Maruti  2014              27365    28.40  1248.0     74 bhp   7.88
6015    Hyundai  2015             100000    24.40  1120.0     71 bhp   4.00
6016   Mahindra  2012              55000    14.00  2498.0    112 bhp   2.90
6017     Maruti  2013              46000    18.90   998.0   67.1 bhp   2.65
6018  Chevrolet  2011              47000    25.44   936.0   57.6 bhp   2.50

[5981 rows x 7 columns]

In [74]:
print(data1.groupby('Name').count())

               Year  Kilometers_Driven  Mileage  Engine  Power  Price
Name
Ambassador        1                  1        1       1      1      1
Audi            236                236      236     236    236    236
BMW             262                262      262     262    262    262
Bentley           1                  1        1       1      1      1
Chevrolet       121                121      121     121    121    121
Datsun           13                 13       13      13     13     13
Fiat             25                 25       25      25     25     25
Force             3                  3        3       3      3      3
Ford            300                300      300     300    300    300
Honda           602                602      602     602    602    602
Hyundai        1100               1100     1100    1100   1100   1100
ISUZU             2                  2        2       2      2      2
Isuzu             1                  1        1       1      1      1
Jaguar           40                 40       40      40     40     40
Jeep             15                 15       15      15     15     15
Lamborghini       1                  1        1       1      1      1
Land             57                 57       57      57     57     57
Mahindra        271                271      271     271    271    271
Maruti         1200               1200     1200    1200   1200   1200
Mercedes-Benz   318                318      318     318    318    318
Mini             26                 26       26      26     26     26
Mitsubishi       27                 27       27      27     27     27
Nissan           91                 91       91      91     91     91
Porsche          18                 18       18      18     18     18
Renault         145                145      145     145    145    145
Skoda           173                173      173     173    173    173
Smart             1                  1        1       1      1      1
Tata            186                186      186     186    186    186
Toyota          409                409      409     409    409    409
Volkswagen      315                315      315     315    315    315
Volvo            21                 21       21      21     21     21

In [75]:
print(data1.groupby('Name').mean())

                      Year  Kilometers_Driven    Mileage       Engine  \
Name
Ambassador     2003.000000       80000.000000  12.800000  1489.000000
Audi           2013.614407       53184.885593  15.171780  2281.758475
BMW            2013.083969       79471.381679  16.961260  2323.221374
Bentley        2006.000000       48000.000000   8.600000  5998.000000
Chevrolet      2011.570248       63039.479339  18.401157  1363.876033
Datsun         2016.538462       19239.846154  21.590769   983.153846
Fiat           2011.720000       73764.560000  17.436000  1267.200000
Force          2014.000000       44000.000000  17.000000  2183.000000
Ford           2013.206667       63318.680000  18.468167  1597.603333
Honda          2013.093023       54831.636213  18.508306  1502.455150
Hyundai        2013.530000       51279.269091  18.817382  1306.340909
ISUZU          2017.500000       22711.000000  12.400000  2499.000000
Isuzu          2017.000000       34429.000000  13.800000  2999.000000
Jaguar         2014.400000       36380.725000  14.955750  2623.150000
Jeep           2017.600000       27799.800000  16.760000  1916.800000
Lamborghini    2011.000000        6500.000000   6.400000  5204.000000
Land           2014.421053       59527.403509  11.535965  2475.719298
Mahindra       2013.723247       69243.073801  15.051144  2134.055351
Maruti         2013.482500       53441.925833  21.558650  1149.743333
Mercedes-Benz  2013.550314       48766.745283  13.891761  2372.254717
Mini           2015.076923       24890.307692  18.593846  1766.615385
Mitsubishi     2011.111111       82250.629630  12.111111  2537.185185
Nissan         2013.186813       65409.010989  19.361758  1461.505495
Porsche        2013.222222       40046.777778  13.515556  3479.666667
Renault        2014.855172       52888.924138  20.704759  1310.337931
Skoda          2012.346821       68509.161850  16.781445  1786.393064
Smart          2008.000000      103000.000000   0.000000   799.000000
Tata           2013.435484       67313.768817  19.839731  1348.994624
Toyota         2013.014670       83883.973105  14.370807  2312.775061
Volkswagen     2013.511111       57196.939683  18.258889  1442.161905
Volvo          2013.285714       70539.666667  15.493333  2160.238095

                    Price
Name
Ambassador       1.350000
Audi            26.894449
BMW             32.271641
Bentley         59.000000
Chevrolet        3.044463
Datsun           3.770000
Fiat             3.620800
Force            9.333333
Ford             7.204333
Honda            5.888837
Hyundai          5.734518
ISUZU           12.045000
Isuzu           33.680000
Jaguar          39.333250
Jeep            23.115333
Lamborghini    120.000000
Land            33.266491
Mahindra         8.436531
Maruti           4.868683
Mercedes-Benz   28.753428
Mini            34.807692
Mitsubishi      14.944444
Nissan           5.792637
Porsche         48.311667
Renault          6.178828
Skoda            8.964566
Smart            3.000000
Tata             4.258763
Toyota          13.046919
Volkswagen       5.945841
Volvo           21.600000

C:\Users\admin\AppData\Local\Temp\ipykernel_18172\2856030413.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(data1.groupby('Name').mean())

In [76]:
print(data1.groupby('Name')['Price'].agg(['sum','mean']))

                   sum        mean
Name
Ambassador        1.35    1.350000
Audi           6347.09   26.894449
BMW            8455.17   32.271641
Bentley          59.00   59.000000
Chevrolet       368.38    3.044463
Datsun           49.01    3.770000
Fiat             90.52    3.620800
Force            28.00    9.333333
Ford           2161.30    7.204333
Honda          3545.08    5.888837
Hyundai        6307.97    5.734518
ISUZU            24.09   12.045000
Isuzu            33.68   33.680000
Jaguar         1573.33   39.333250
Jeep            346.73   23.115333
Lamborghini     120.00  120.000000
Land           1896.19   33.266491
Mahindra       2286.30    8.436531
Maruti         5842.42    4.868683
Mercedes-Benz  9143.59   28.753428
Mini            905.00   34.807692
Mitsubishi      403.50   14.944444
Nissan          527.13    5.792637
Porsche         869.61   48.311667
Renault         895.93    6.178828
Skoda          1550.87    8.964566
Smart             3.00    3.000000
Tata            792.13    4.258763
Toyota         5336.19   13.046919
Volkswagen     1872.94    5.945841
Volvo           453.60   21.600000

In [77]:
from scipy import stats
from statsmodels.formula.api import ols, glm

In [78]:
formula = 'Price ~ Year + Kilometers_Driven + Mileage + Engine'

In [79]:
regression_result=ols(formula,data=data1).fit()

In [80]:
regression_result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.461
Model:                            OLS   Adj. R-squared:                  0.460
Method:                 Least Squares   F-statistic:                     1276.
Date:                Tue, 25 Apr 2023   Prob (F-statistic):               0.00
Time:                        10:14:58   Log-Likelihood:                -21895.
No. Observations:                5981   AIC:                         4.380e+04
Df Residuals:                    5976   BIC:                         4.383e+04
Df Model:                           4
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept         -2535.1279     81.711    -31.025      0.000   -2695.311   -2374.945
Year                  1.2532      0.041     30.768      0.000       1.173       1.333
Kilometers_Driven -2.369e-06   1.36e-06     -1.746      0.081   -5.03e-06    2.91e-07
Mileage               0.0538      0.036      1.500      0.134      -0.017       0.124
Engine                0.0133      0.000     51.614      0.000       0.013       0.014
==============================================================================
Omnibus:                     3677.504   Durbin-Watson:                   1.973
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            50659.341
Skew:                           2.726   Prob(JB):                         0.00
Kurtosis:                      16.174   Cond. No.                     7.30e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.3e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [81]:
sample=data1[data1.columns.difference(['Price'])]
sample1=sample[0:10][:]
sample1

   Engine  Kilometers_Driven  Mileage        Name      Power  Year
0   998.0              72000    26.60      Maruti  58.16 bhp  2010
1  1582.0              41000    19.67     Hyundai  126.2 bhp  2015
2  1199.0              46000    18.20       Honda   88.7 bhp  2011
3  1248.0              87000    20.77      Maruti  88.76 bhp  2012
4  1968.0              40670    15.20        Audi  140.8 bhp  2013
5   814.0              75000    21.10     Hyundai   55.2 bhp  2012
6  1461.0              86999    23.08      Nissan   63.1 bhp  2013
7  2755.0              36000    11.36      Toyota  171.5 bhp  2016
8  1598.0              64430    20.54  Volkswagen  103.6 bhp  2013
9  1248.0              65932    22.30        Tata     74 bhp  2012

In [82]:
smaple_predict=regression_result.predict(sample1)
print(smaple_predict)

0    -1.703388
1    12.037287
2     1.834904
3     3.781631
4    14.429667
5    -1.949801
6     7.994754
7    28.470435
8     9.735275
9     3.913930
dtype: float64

In [83]:
data1[0:10]['Price']

0     1.75
1    12.50
2     8.61
3     6.00
4    17.74
5     2.35
6     3.50
7    21.00
8     5.20
9     1.95
Name: Price, dtype: float64